<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Chat</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
</head>
<body>
    <h1>real time chat</h1>
    <button hx-post="logout" hx-trigger="click" hx-swap="outerHTML">Logout</button>
    <input type="text" id="search" name="q" placeholder="Search users..."
        hx-get="/search"
        hx-trigger="keyup changed delay:300ms"
        hx-target="#search-results"
        hx-swap="innerHTML">

    <ul id="search-results"></ul>
    <div hx-get="/friend-requests" hx-target="#friend-requests" hx-trigger="load">
    </div>
    <div id="friend-requests"></div>

    <div hx-get="/friends" hx-target="#friends" hx-trigger="load">
    </div>
    <div id="friends"></div>
    <div id="chat-box"></div>
    
    <form id="chat-form">
        <input type="text" id="message" placeholder="Type a message..." autocomplete="off">
        <button type="submit">Send</button>
    </form>

<script src="/assets/scripts/index.js?v=0.1"></script>
</body>
</html>