{{ define "friends" }}
Friends:
<ul class="friends-lists">
    {{ range . }}
    <li id="friend-{{ .ID }}">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <img src="/profile_pictures/{{ .ProfilePicture }}" width="40" height="40"/>
                <a href="/profile/{{ .ID }}">{{ .Username }}</a> 
            </div>
            <button hx-post="/remove-friend/{{ .ID }}">Remove Friend</button>
        </div>
    </li>
    {{ else }}
    <li class="no-friends">No Friends</li>
    {{ end }}
</ul>
{{ end }}

{{ define "error" }}
    <div class="error">{{ . }}</div>
{{ end }}

{{ define "reload" }}
    <script>window.location.reload();</script>
{{ end }}