{{ define "user_posts" }}
posts: 
    {{ range . }}
    <div class="post" style="border: 1px solid red;">
        <p>{{ .Content }}</p>

        {{ if .Image }}
            <img src="{{ .Image }}" alt="Post Image">
        {{ end }}
        
        {{ template "post-actions" . }}

        <form 
            hx-post="/post/{{ .ID }}/comment" 
            hx-target="#comments-{{ .ID }}" 
            hx-swap="beforeend">
            <input type="text" name="content" placeholder="Comment" required>
            <button type="submit">Comment</button>
        </form>

        <div id="comments-{{ .ID }}">
            {{ range .Comments }}
                <p><span class="comment-user-id">{{ .UserID }}</span>: {{ .Content }}</p>
            {{ end }}
        </div>

    </div>
    {{ end }}
{{ end }}

{{ define "post-actions" }}
<div class="post-actions" id="post-actions-{{ .ID }}">
    <button 
        hx-post="/post/{{ .ID }}/{{ if .LikedByUser }}unlike{{ else }}like{{ end }}" 
        hx-swap="outerHTML"
        hx-target="#post-actions-{{ .ID }}">
        {{ if .LikedByUser }}Unlike{{ else }}Like{{ end }}
    </button>
    <span>{{ .LikesCount }} Likes</span>
</div>
{{ end }}

{{ define "single_comment" }}
    <p>{{ .Content }}</p>
{{ end }}

{{ define "like_button" }}
<div class="post-actions">
    <button 
        hx-post="/post/{{ .PostID }}/{{ if .LikedByUser }}unlike{{ else }}like{{ end }}" 
        hx-swap="outerHTML"
        hx-target="this">
        {{ if .LikedByUser }}Unlike{{ else }}Like{{ end }}
    </button>
    <span>{{ .LikesCount }} Likes</span>
</div>
{{ end }}

{{ define "reload" }}
    <script>window.location.reload();</script>
{{ end }}

{{ define "error" }}
    <div class="error">{{ . }}</div>
{{ end }}

{{ define "success" }}
    <div class="success">{{ . }}</div>
{{ end }}