{{ define "profile" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <title>{{ .Username }}'s Profile</title>
</head>
<body>
    <img src="/profile_pictures/{{ .ProfilePicture }}" alt="">
    <h1>{{ .Username }}'s Profile</h1>
    <p>ID: {{ .ID }}</p>

    <div id="friend-status">
        {{ if eq .Friendship "friends" }}
            <p>You are already friends</p>
            <button id="openChat" hx-on:click="openChat({{ .ID }})">Chat</button>
            <div id="chatWindow" style="display: none;">
                <div id="chatMessages"></div>
                <input type="text" id="chatInput" placeholder="Type a message...">
                <button hx-on:click="sendMessage({{ .ID }})">Send</button>
            </div>
        {{ else if eq .Friendship "pending" }}
            <p>Pending</p>
        {{ else if eq .Friendship "declined" }}
            <p>This request was already declined. Would you like to send another request?</p>
            <form hx-post="/profile/{{ .ID }}/add-after-decline" hx-trigger="submit" hx-target="#friend-status" hx-headers='{"X-HX-Request": "true"}'>
                <button type="submit">Add Friend</button>
            </form>
        {{ else }}
            <form hx-post="/profile/{{ .ID }}/add" hx-trigger="submit" hx-target="#friend-status" hx-headers='{"X-HX-Request": "true"}'>
                <button type="submit">Add Friend</button>
            </form>
        {{ end }}
    </div>

    <div hx-get="/profile/{{ .ID }}/posts" hx-target="#posts" hx-trigger="load">
    </div>
    <div id="posts"></div>
<script src="../../assets/scripts/utils.js"></script>
<script src="../../assets/scripts/posts.js?v=0.1"></script>
<script src="../../assets/scripts/chat.js?v=0.1"></script>
</body>
</html>
{{ end }}

{{ define "error" }}
    <div class="error">{{ . }}</div>
{{ end }}

{{ define "success" }}
    <div class="success">{{ . }}</div>
{{ end }}